
.top{
    background-color: #1F2937;
    box-sizing: border-box;
    height: 450px;
    display: flex;
    flex-direction: column;
}


.header{
display: flex;
justify-content: space-between;
margin-bottom: 75px;
}


h1, .call{
font-size: 24px;
padding-left: 150px;
color: #F9FAF8;
}
 .call{
    padding-left: 0px;
    font-weight: bold;
   
 }
 

ul{
display: flex;
align-items: center;
gap: 16px;
padding-right: 150px;
}

li{

list-style-type: none;

}
 
a{
    font-size: 18px;
text-decoration: none;
color: #e5e7eb;

}


.hero{
display: flex;
align-items: center;
justify-content: center;
gap: 150px;

}

.hero-left{

width: 400px;



}

.hero-left > p {
width: 350px;
color:#e5e7eb


}

.placeholder{
background-color: gray;
color:#e5e7eb;
box-sizing: border-box;
width: 450px;
height: 200px;
display: flex;
align-items: center;
justify-content: center;

}

h2{
font-size: 48px;
color: #F9FAF8;
font-weight:bold;
margin: 0px;
}


h3{
font-size: 36px;
text-align: center;
font-weight: bolder;

}

.hollow{
box-sizing: border-box;
height: 150px;
width: 150px; 
border: #3882F6 solid 3px;
border-radius: 10px;


}

.boxes{
box-sizing: border-box;
width: 150px;
margin-bottom: 50px;

}

.container2{
display: flex;
justify-content: center;
gap: 32px;


}


.boxes > p {
    text-align: center;
}

button{
background-color: #3882F6;
border-radius: 4px;
border: none; 
cursor: pointer;
color: #F9FAF8;
padding: 4px 12px 4px 12px; 
}

.quote{
    background-color: #E5E7EB;
    box-sizing: border-box;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.quote > *{
    box-sizing: border-box;
    width: 700px;

}

#testimonial{
font-size: 36px;
font-style: italic;
margin-top: 50px;
color: #616b77;
margin-bottom: 16px;

}



#thor{
display: flex;
justify-content: flex-end;
font-size: 24px;
font-weight: bold;
margin-top: 16px;}


.sec4{
box-sizing: border-box;
height: 350px;
display: flex;
justify-content: center;
align-items: center;

}


.blue{

box-sizing: border-box;
display: flex;
width: 750px;
height: 200px;
background-color: #3882F6;
justify-content: space-evenly;
align-items: center;
border-radius: 8px;
}
.wbutton{
    border: white 3px solid;
}

.call,.callsub{
    margin: 8px 0px;
}

.callsub{
    color:#e5e7eb
}

footer{
    background-color: #1F2937;
    box-sizing: border-box;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
height: auto;
width: 25px;
}

footer> div{
display: flex;
gap: 8px;
align-items: center;

}

#foot{

    color: #e5e7eb;
    font-size: 16px;
}