.top{
    background-color: #1F2937;
    box-sizing: border-box;
    height: 450px;
    display: flex;
    flex-direction: column;
}


.header{
display: flex;
justify-content: space-between;
margin-bottom: 75px;
}


h1{
font-size: 24px;
padding-left: 150px;
color: #F9FAF8;
}
 

ul{
display: flex;
align-items: center;
gap: 16px;
padding-right: 150px;
}

li{

list-style-type: none;

}
 
a{
    font-size: 18px;
text-decoration: none;
color: #e5e7eb;

}


.hero{
display: flex;
align-items: center;
justify-content: center;
gap: 150px;

}

.hero-left{

width: 400px;



}

.hero-left > p {
width: 350px;
color:#e5e7eb


}

.placeholder{
background-color: gray;
color:#e5e7eb;
box-sizing: border-box;
width: 450px;
height: 200px;
display: flex;
align-items: center;
justify-content: center;

}

h2{
font-size: 48px;
color: #F9FAF8;
font-weight:bold;
margin: 0px;




}


button{
background-color: #3882F6;
border-radius: 4px;
border: none; 
cursor: pointer;
color: #F9FAF8;
padding: 4px 12px 4px 12px; 
}